@tailwind base;
@tailwind components;
@tailwind utilities;

@import "/node_modules/react-grid-layout/css/styles.css";
@import "/node_modules/react-resizable/css/styles.css";

body {
  padding: 0;
  margin: 0;
  background-color: #282c34;
}
